
html, body {
    height: 100%;
    margin: 0;
    overflow: auto; 
}

body, header, main, #left-pane, nav, .participants, .total-amount, button, table, th, td {
    font-family: Arial, sans-serif;
}


spline-viewer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 10%;
    left: 0;
    z-index: -1; 
    transform: scale(1.5);
}


header {
    margin:  0px;
    font-size: 4.0em;
    background-color: black;
    width: 100%;
    color: aqua;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


nav {
    background: linear-gradient(135deg, #2c1a3b, #1c0432, #030005); 
    width: 100%;
    height: 60px; 
    margin: 0 auto; /
    display: flex;
    align-items: center;
    gap:  10px;
    justify-content: space-between; 
    padding: 0 20px; 
    box-shadow: 0 2px 40px rgba(215, 204, 219, 0.349); 
    border-radius: 0%
}

nav h1 {
    color: #ffffff; 
    font-size: 2.7em;
    font-family: 'Roboto'; 
    margin: 0% 20px; 
    text-shadow: 2px 2px 4pxrgba(0, 0, 0, 0.168);
    
}

nav h2 {
    margin: -40px 20px 200px 450px;
    font-size: 2.0em;
}

nav a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 1em;
    margin: 0px 15px;
    font-family: 'Roboto';
    transition: color 0.3s ease-in-out; 
}

nav a:hover {
    color: #ffffff; 
}


/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#container {
    display: flex;
    justify-content: center; /* Aligns children (left-pane and right-pane) in the center horizontally */
    align-items: start; /* Aligns children to the start of the cross axis */
    height: 100vh; /* Optional: Takes full height of the viewport */
    padding: 20px; /* Optional: Adds some spacing around the content */
}

#left-pane, #right-pane {
    flex: 1; /* Each pane will take up equal space */
    margin: 10px; /* Adds some space between the panes */
    padding: 20px; /* Adds padding inside the panes */
    border: 1px solid #ccc; /* Adds a border for visibility */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow
/* Panes */
#left-pane {
    position: fixed;
    width: 580px; 
    height: 60%;
    overflow: hidden;
    background-color: rgba(98, 65, 102, 0.105);
    margin: 200px 0px 0px 25px;
    border-radius: 10%;
}

#right-pane {
    position: fixed;
    width: 580px; 
    height: 70%;
    overflow: hidden;
    background-color: rgba(98, 65, 102, 0.105);
    margin: 200px 0px 0px 25px;
    border-radius: 10%; 
}

#lastWinner {
    color: #ffffff;
    font-size: 1.6em;
    font-family: 'Roboto';
}


.total-amount,
table, th, td {
    color: rgb(255, 255, 255);
    font-style:bold;
    
}



.total-amount {
    margin: -50px 10px;
    font-size: 2.0em;
    font-family: 'Roboto';
}

#connectButton {
    margin: 50px;
    padding: 10px 80px;
    font-size: 2.6em;
    cursor: pointer;
    color: rgb(255, 255, 255); 
    background-color: #4c3b5a4a; 
    font-family: 'Roboto';
    border: none; 
    transition: background-color 0.5s ease-in-out; 
    border-radius: 10px; 
    box-shadow: 0px 2px 15px rgba(236, 230, 239, 0.386); 
}

#buyTicketButton:hover {
    background-color: #6113a6c5; 
}

#buyTicketButton {
    margin: 0px;
    padding: 10px 80px;
    font-size: 2.6em;
    cursor: pointer;
    color: rgb(255, 255, 255); 
    background-color: #4c3b5a4a; 
    font-family: 'Roboto';
    border: none; 
    transition: background-color 0.5s ease-in-out; 
    border-radius: 10px; 
    box-shadow: 0px 2px 15px rgba(236, 230, 239, 0.386); 
}

#connectButton:hover {
    background-color: #6113a6c5; 
}


#sendTipsButton {
    margin: 0px;
    padding: 10px 80px;
    font-size: 2.6em;
    cursor: pointer;
    color: rgb(255, 255, 255); 
    background-color: #4c3b5a4a; 
    font-family: 'Roboto';
    border: none; 
    transition: background-color 0.5s ease-in-out; 
    border-radius: 10px; 
    box-shadow: 0px 2px 15px rgba(236, 230, 239, 0.386); 
}

#sendTipsButton:hover {
    background-color: #6113a6c5; 
}

#ticketSlider {
    color: white;
}

#ticketQuantity {
    margin: -60px
}

#accountArea {
    margin:58px


}

#totalAmount {
    margin:-30px
}
/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

table, th, td {
    border: 1px solid white;
}


#entryCount {
    text-align: center;
    font-size: 1.35 em;
    font-family: 'Roboto';
    margin: -36px 0px 0px 250px;
    font-style: bold;
}

#accountArea{
    color:white;
}

#tipAmountSlider {
    color:white;
    font-family: 'Roboto';
    font-size: 2.3 em;
}

/* This will change the color of the label text */
label {
    color: #ffffff; /* Example: Orange color */
    font-family: 'Roboto';
    font-size: 2.3 em;

}

/* This specifically targets the span where the slider value is displayed */
#tipAmountDisplay {
    color: #ffffff; /* Example: Orange color */
    font-family: 'Roboto';
    font-size: 2.3 em;

}

/* To specifically change the font color of the label associated with the slider */
label[for="tipAmountSlider"] {
    color: #ffffff; /* Example: Orange color */
    font-family: 'Roboto';
}
h1, h1 a {
    margin-left: 0px;
    color: white; /* Sets text color to white */
    text-decoration: none; /* Removes underline from links */
}

h1 a:hover {
    color: #ffffff; /* Optional: changes link color on hover for better visibility/interaction */
}
#contractLink {
    color: white; /* Change color to white */
    text-decoration: none; /* Optional: Removes the underline from the link */
}

#contractLink:hover {
    color: grey; /* Optional: Changes color when hovered for better interaction */
}
